/sql2gee.egg-info
/dist
privatekey.pem
privatekey.json
config.py
/env
/.cache
.coverage
/.tox
**/*.pyc
/htmlcov
/.idea
.DS_Store
.ipynb_checkpoints
/*.ipynb
docs/_build/html/*
docs/_build/doctrees
tests/__pycache__/
/build
.pytest_cache/*
.eggs
coverage.xml
.env
Dockerfile
docker-compose.yml
test.py